<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<h2 class="form-signin-heading text-center">두구두구 TALK </h2><br>
<p class="text-center">소셜 로그인 계정을 선택해주세요. </p><br>
    <div class="container">
        <div class="content">
            <div class="center" th:each="url : ${urls}">
                <a th:href="${url.value}">                
                    <img class="socialImg" th:if="${url.key} == 'Naver'" src="images/naverlogo.png" />
                    <img class="socialImg" th:if="${url.key} == 'Kakao'" th:src="@{images/kakaologo.png}" />
                    <img class="socialImg" th:if="${url.key} == 'Google'" th:src="@{images/googlelogo.jpg}" />
                </a>
            </div>
        </div>
    </div>
</body>
</html>